# Python temporary
__pycache__/
*.py[cod]
*$py.class
*.eggs/
*.egg-info/
.cache/
/.coverage
.pytest_cache/
.tox
dist/
build/

# IDE
.idea

.venv/
/venv*
_build/

*.hdf5
report-pytest*.xml

/src/secbench-native/target
